<footer role="contentinfo" class="site-footer">
  <div class="wrapper">
  <div class="footer-content">
    <p>Subscribe <a href="{{ "/feed.xml" }}">Via RSS</a></p>
  </div>
  <div class="footer-social">
      <ul>
        <li><a href="mailto:colby@fueled.media">Contact</a>
        </li>
        <li>
           <!-- <a href="https://www.linkedin.com/in/jonathanroot/{{ site.linkedin_username }}"> -->
            <img src="/images/linkedin.png" alt="linkedin logo" width="40">
          </a>
        </li>
        <li>
      <!--    <a href="http://www.github.com/{{ site.github_username }}"> -->
            <img src="/images/intagram.png" alt="github logo" width="40">
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>