<header>
    <div class="nameAndMenu">
      <a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/images/FueledPhotographyDeskTop.png"></a>
      <div class="menuDrop">Menu</div>
  </div>
    <nav role="navigation" class="site-nav">
      <ul class="menu">
        <li data-menuanchor="firstSection">
          <a href="{{ site.baseurl }}/#firstSection" title="Trucks">Trucks</a>
        </li>
        <li data-menuanchor="secondSection">
          <a href="{{ site.baseurl }}/#secondSection" title="Heavy Iron">Heavy Iron</a>
        </li>
        <li data-menuanchor="thirdSection">
          <a href="{{ site.baseurl }}/#thirdSection" title="Crew">Crew</a>
        </li>
        <li data-menuanchor="fourthSection">
          <a href="{{ site.baseurl }}/#fourthSection" title="Aerial Video">Aerial</a>
        </li>
        <li data-menuanchor="fifthSection">
          <a href="{{ site.baseurl }}/#fifthSection" title="First Slide">Film</a>
        </li>
        <li>
          <a href="https://fueledphotography.smugmug.com/" target="_blank" title="Prints">Prints</a>
        </li>
      </ul>
    </nav>
</header>