

/* SECTION STYLES - fullPage.js
–––––––––––––––––––––––––––––––––––––––––––––––––– */


.trucks {
    background: url('{{ site.baseurl }}../../../images/GasTruck-min.jpg') no-repeat center / cover;
     &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to bottom right, #000, #000);
    opacity: .2;
  }
  .imageText {
    display: flex;
    position: relative;
    top: 20%;
    left: 10%;
  }
}

.heavy-iron {
    background: url('{{ site.baseurl }}../../../images/HeavyIron-min.jpg') no-repeat center / cover;
    &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to bottom right, #000, #000);
    opacity: .2;
  }
  .imageText {
    position: absolute;
     display: flex;
    flex-direction: column;
    text-align: center;
    top: 30%;
    left: 20%;
    right: 20%;
}
}
.crew {
  background: url('{{ site.baseurl }}../../../images/Crew.jpg') no-repeat center / cover;
  &:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to bottom right, #000, #000);
  opacity: .2;
  }
  .imageText {
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: center;
    top: 40%;
    left: 20%;
    right: 20%;
}
}
.plane {
    background: url('{{ site.baseurl }}../../../images/Plane.jpg') no-repeat center / cover;
    &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to bottom right, #000, #000);
    opacity: .2;
  }
  .imageText {
    position: absolute;
    top: 20%;
    left: 10%;
}
}



