.truckMain {
   background: url('{{ site.baseurl }}../../../images/WhiteTractor.jpg') no-repeat center / cover;
     width: 100%;
    height: 735px;
     &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to bottom right, #000, #000);
    opacity: .2;
    height: 735px;
  }
  .imageText {
    position: absolute;
    top: 30%;
    left: 10%;
  }
}

.heavyMain {
   background: url('{{ site.baseurl }}../../../images/heavy/heavybg.jpg') no-repeat center / cover;
     width: 100%;
    height: 735px;
     &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to bottom right, #000, #000);
    opacity: .2;
    height: 735px;
  }
  .imageText {
    position: absolute;
    top: 20%;
    left: 10%;
  }
}

.aerialMain {
   background: url('{{ site.baseurl }}../../../images/aerial/aerialbg.jpg') no-repeat center / cover;
     width: 100%;
    height: 735px;
     &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to bottom right, #000, #000);
    opacity: .2;
    height: 735px;
  }
  .imageText {
    position: absolute;
    top: 60%;
    left: 40%;
    right: 10%;
    text-align: right;

  }
}

.crewMain {
   background: url('{{ site.baseurl }}../../../images/crew/crewbg-min.jpg') no-repeat center / cover;
     width: 100%;
    height: 735px;
     &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to bottom right, #000, #000);
    opacity: .2;
    height: 735px;
  }
  .imageText {
    position: absolute;
    top: 20%;
    left: 10%;

  }
}

 
  img {
      max-width: 100%;
      display: block;
      margin: 0 auto;

  }
 * { box-sizing: border-box; }

/* force scrollbar */
html { overflow-y: scroll; }

body {
  font-family: sans-serif;
}

/* ---- isotope ---- */

.grid {
  background: #fff;
}

/* clear fix */
.grid {
 display: flex;
 flex-direction: column;
}

/* ---- .grid-item ---- */

.grid-sizer {
  width: 100%;
}

.grid-item {
  float: left;
}




  .textWrap {
    position: relative;
    display: -webkit-flex; /* Safari */
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.5;
    width: 100%;
    min-height: 451px;
    margin: 0 auto;
    padding: 2em;
  }
  .whiteBackground {
    color: #000;
    background-color: #fff;
  }
  .greyBackground {
    background-color: #474747;
    }
  .darkGreyBackground {
    background-color: #282828;
    }


  footer {
    background-color: #282828;
    width: 100%;
    height: 200px;
  }
  .site-footer {
    padding: 2em 0;
    color: #fff;
}

.footer-content {
    float: left;
    width: 40%;
    font-size: 0.875em;
    padding-top: 18px;

    h4 {
        text-align:left;
        color: #fff;
    }
}

.footer-social {
    float:right;
    li {
        display: inline-block;
        margin: 0 0.5em;
    }
}
 @media screen and (min-width: 800px) {
.grid {
max-width: 100%;
}
div .grid img {
  display: block;
}
.half {
  width: 50%;
  }
  .third {
    width: 33.33%;
  }
  .textWrap {
      width: 33.33%;
  }
} 
